{% extends 'learnModule/base-site.html' %}
{% load static %}
{% load staticfiles %}
{% block content %}

{% include "blog/messages_display.html" %}
<style>
#index-banner
{
    background: url("../../static/learnModule/images/bg.jpg") no-repeat 100% center;
    background-size: cover;
    width: 100%;
    height: 670px;
}

</style>
  <div class="section no-pad-bot" id="index-banner">
    <div class="center hide-on-small-only">
		<img src="../../static/learnModule/images/u4772.PNG" height="150px">
    </div>

	  <div class="center hide-on-med-and-up">
		<img src="../../static/learnModule/images/u4772.PNG" width="95%">
    </div>
      <div class="container">
         <div class="row">
			<div class="container">

			<h5 class="center white-text">Create an Account</h5>
			<form class="col s12 m12 l10 push-l1" action="/users/signup_create/" method="post">
				{% csrf_token %}

			  <div class="row">
				  <div class="input-field white-text">
				  <input id="fname" type="text" name="fname" required="required" class="validate" placeholder="First And Last Names">
				  <label for="fname" class="white-text">Your Names:</label>
			      </div>
			  </div>

			  <div class="row">
				  <div class="input-field white-text">
				  <input id="email" type="email" name="email" required="required" class="validate" placeholder="yourname@example.com">
				  <label for="email" class="white-text">Email:</label>
					</div>
			  </div>

			<div class="row">

				<div class="input-field white-text">
				  <input id="password" name="password" type="password" required="required" class="validate white-text" placeholder="Password">
				  <label for="password" class="white-text">Password</label>
				</div>

			 </div>

			<div class="row">

				<div class="input-field white-text">
				  <input id="pwdc" name="cpassword" type="password" required="required" class="validate white-text" placeholder="Repeat Password">
				  <label for="pwdc" class="white-text">Repeat Password:</label>
				</div>

			 </div>

			<div class="row">
				<div class="center">
					<button class="btn waves-effect waves-light red loginbtn" value="Sign me up!" type="submit" name="submit">SIGNUP</button>
				</div>
			  </div>

			<div class="row center">
				<h6 class="white-text">Already a Member? <a href="/users/login/" class="white-text" ><u>Login</u></a></h6>
			</div>
			</form>
			</div>
  		 </div>
		</div>
	</div>

 <!--                   <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1>Join to PAIR-GN</h1>
							{{ message }}
                        	<div class="form-box">
                        		<div class="form-top">
	                        		<div class="form-top-left">
	                        		</div>
	                        		<div class="form-top-right">
	                        			<i class="fa fa-pencil"></i>
	                        		</div>
	                            </div>
	                            <div class="form-bottom">
				                    <form role="form"
										  action="/users/signup_create/" method="POST" class="registration-form">
									{% csrf_token %}
				                    	<div class="form-group">
											<input type="text" name="fname" placeholder="First and Last Name"
												   class="form-first-name form-control"
												   id="fname" required="required" >

				                        </div>
				                        <div class="form-group">
				                        	<input type="text" name="email" placeholder="Email"
												   class="form-email form-control" id="email"
											  required="required">
											<span id="error_email"></span>
				                        </div>
										<div class="form-group">
				                        	<input type="password" name="password" placeholder="Password" required="required"
												   class="form-password form-control" id="password">
											<span id="error_pwd"></span>
				                        </div>
										<div class="form-group">
				                        	<input type="password" name="password" placeholder="Confirm Password" required="required"
												   class="form-password form-control" id="cpassword">
											<span id="error_cpwd"></span>
				                        </div>

										<input type="submit" value="Sign me up!" name="submit"  onclick="return validateFormOnSubmit(this)"/>
				                    </form>

  -->
{% endblock %}
