<style>
    .material-icons.md-18 { font-size: 18px; }
    .material-icons.md-24 { font-size: 24px; }
    .material-icons.md-36 { font-size: 36px; }
    .material-icons.md-48 { font-size: 48px; }

    /* Rules for using icons as black on a light background. */
    .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
    .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

    /* Rules for using icons as white on a dark background. */
    .material-icons.md-light { color: rgba(255, 255, 255, 1); }
    .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

    .material-icons.orange600 { color: #FB8C00; }
    .material-icons.gr { color: #2E7D32; }
    .material-icons.rd { color: #D50000; }
</style>


<!-- SHOW LATEST RESULT DETAILS   -->

        <div class="container">
            <div class="row">

<!-- CheckList Data -->
                <div class="col s12 m12 l12">
                    <div class="row" id="ContentDetailPage">
                    {% if uCLDetail %}
                        <div class="col s12 m12 l12 pull-l1">
                            <h6><b>{{ score|floatformat:2 }}% completed.</b></h6>
                            <h5><b>{{ fbWords }}</b></h5>
                            Once the person has answered all questions, this box will appear and will provide an explanation of the score achieved by the person.
                        </div>
                    {% else %}
                        <p>No results are available.</p>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>


