{% extends 'learnModule/base-site.html' %}
{% load static %}
{% block content %}
{% include 'learnModule/content-menu.html' %}


<div class="jumbotron">
  <div class="text-center">
           <div class="pageTitle">Content</div>
  </div>
</div>

</div>
  <div class="12u">
    <section id="one" class="wrapper style1" xmlns="http://www.w3.org/1999/html">
				<div class="container">
					<div class="row">
						<div>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis auctor est id ligula consequat, in tincidunt nunc fermentum. Quisque fermentum ligula ac quam consectetur, sed pellentesque arcu vehicula. Nullam rhoncus suscipit fringilla. Suspendisse blandit imperdiet massa a mattis. Donec gravida tellus vel tortor malesuada, ac viverra libero rhoncus. Praesent vel neque nec nibh lacinia feugiat. Mauris vel nunc ultrices, maximus risus sit amet, mattis arcu. Etiam sit amet viverra dolor. Pellentesque fringilla elit molestie, vulputate nisl dictum, tempor orci. Proin urna dolor, lobortis sed ex a, bibendum ornare nibh. Nam eu sollicitudin erat, ut varius sem.
                        </p>
                        </div>
                        <div class="col-md-9">

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis auctor est id ligula consequat, in tincidunt nunc fermentum. Quisque fermentum ligula ac quam consectetur, sed pellentesque arcu vehicula. Nullam rhoncus suscipit fringilla.
                            Suspendisse blandit imperdiet massa a mattis. Donec gravida tellus vel tortor malesuada, ac viverra libero rhoncus.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis auctor est id ligula consequat, in tincidunt nunc fermentum. Quisque fermentum ligula ac quam consectetur, sed pellentesque arcu vehicula. Nullam rhoncus suscipit fringilla. Suspendisse blandit imperdiet massa a mattis. Donec gravida tellus vel tortor malesuada, ac viverra libero rhoncus. Praesent vel neque nec nibh lacinia feugiat. Mauris vel nunc ultrices, maximus risus sit amet, mattis arcu. Etiam sit amet viverra dolor. Pellentesque fringilla elit molestie, vulputate nisl dictum, tempor orci. Proin urna dolor, lobortis sed ex a, bibendum ornare nibh. Nam eu sollicitudin erat, ut varius sem.

                            </p>
                        </div>
                        <div class="col-md-3">
                        <img height="200" width="200" src="" class="image fit">
                        </div>

					</div>
				</div>
			</section>
   </div>




 {% endblock %}
