{% extends 'learnModule/base-site.html' %}
{% load static %}
{% load staticfiles %}
{% block content %}
<style>
#index-banner
{
    background: url("../static/learnModule/images/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
}
#panel1
{
  display:none;
}

</style>
<div id="indexpage">
  <div class="section no-pad-bot" id="index-banner">
      <div class="right">
        <img src="../../static/learnModule/images/u78.PNG" height="425px">
      </div>
      <div class="container resourcedata">
             <div class="row">
                <div class="col s12 m12">
                  <div class="card">
                    <div class="card-title center">
                          <strong id="hptitle"></strong>
                    </div>
                    <div class="card-content">
                       <p id="hpdesc1"></p>
                       <p id="hpdesc2"></p>
                        <br/><br/>

                           <span id="hpcontent" class="left">
                                <span class="orange-text left" id="lm">LEARN MORE</span>
                            </span>
                            <br/>
                        <div id="panel1" class="card-content">
                              <p id="panelpara"></p>
                            <br/>
                              <p>The United Nations Declaration on the Rights of Indigenous peoples sets <b>“the minimum standard for
                                the survival, dignity and well-being of the indigenous peoples of the world”.</b> The minimum standard
                                includes the right to self-determination.  This means the right of Indigenous Nations to make decisions
                                for their own communities. Indigenous Peoples have the right to choose their own economic, social, and
                                cultural development. The right to self-determination is also protected through the right to Free Prior
                                and Informed Consent.</p>
                            <br/>
                              <p><b>The right to Free, Prior and Informed Consent (FPIC) is outlined in the United Nations Declaration on
                                the Rights of Indigenous Peoples (UNDRIP) and in the International Labour Organization’s convention 169
                                (ILO 169).</b> However, the inherent rights of self-determination and free prior and informed consent are
                                poorly understood by industry and government, often inaccessible to Indigenous communities, and rarely
                                practiced in good faith. <b>That is why the Indigenous Knowledge Centre, Deyohahagé, is hosting this website.
                                   We are making information available to Indigenous communities and anyone who is interested in Indigenous
                                   rights to Free Prior and Informed Consent.</b></p>

                       </div>

                    </div>

                  </div>
                </div>
            </div>
       </div>
  </div>








<div class="container">

    <!-- offers-->
    <div class="section">
      <div class="row">
          <div class="col s12 m6">
              <div class="card">
                    <div class="card-image">
                      <img class="large cardimages" src="static/learnModule/images/u141.jpg">
                    </div>
                  <div class="card-content">
                      <!--<span class="card-title cardcontent">High quality information</span>-->
                      <br/><br/>
                       This website provides information and resources on FPIC as a tool of self-determination
                       to assist communities in decision making. We have selected articles, tool kits, videos, voice
                        messages, and community stories about FPIC and Consultation. The website is hosted by
                        Deyohahagé the <a class="orange-text" href="http://www.snpolytechnic.com/index.php/2014-02-19-20-45-31" target=_blank>Indigenous Knowledge Centre at Six Nations Polytechnic in the territory of
                        Six Nations of the Grand, </a> Oshwekan, Ontario, Canada. Deyohahagé means learning from the
                        two rows by sharing the strengths of both Indigenous and Western knowledge.
                    </div>
                    <div class="card-action">
                      <a href="#">Learn More</a>
                    </div>
              </div>
           </div>

          <div class="col s12 m6">
              <div class="card">
                    <div class="card-image">
                      <img class="large cardimages" src="static/learnModule/images/u154.jpg">
                    </div>

                    <div class="card-content ">
                      <!--<span class="card-title cardcontent">Designed for you</span>-->
                        <br/><br/>
                          The website provides information about Indigenous rights and resources with learning
                          tools that can be shared with communities.
                          <b>Let us introduce you to Marcos and Maria. See how they use the website to gather
                          information about FPIC and to share it with their communities to support decision
                          making that is rooted in their cultural values, rights, and interests.</b>
                    </div>
                    <div class="card-action">
                      <a href="#">Learn More</a>
                    </div>
              </div>
           </div>

          <!--<div class="col s12 m4">
              <div class="card">
                    <div class="card-image">
                      <img class="large cardimages" src="static/learnModule/images/u163.jpg">
                    </div>
                    <div class="card-content ">
                      <span class="card-title cardcontent">You own this website</span>
                        <br/><br/>
                      Doesn't matter if you come from North or South America, if you or your community is looking for FPIC information, this website is yours.
                    </div>
                    <div class="card-action">
                      <a href="#">Learn More</a>
                    </div>
              </div>
           </div>-->

      </div>
    </div>


<div class="hide" style="height:640px;">
<div class="slider" style="height:640px;">
    <ul class="slides" style="height:640px;">
      <li>
        <img src="static/learnModule/images/u7.png"> <!-- random image -->
      </li>
      <li>
        <img src="static/learnModule/images/u16.png"> <!-- random image -->
      </li>
      <li>
        <img src="static/learnModule/images/u14.png"> <!-- random image -->
      </li>
      <li>
        <img src="static/learnModule/images/u12.png"> <!-- random image -->
      </li>
      <li>
        <img src="static/learnModule/images/u10.png"> <!-- random image -->
      </li>
      <li>
        <img src="static/learnModule/images/u8.png"> <!-- random image -->
      </li>
    </ul>
  </div>
</div>
<div class="hide"  style="height:640px;">
<div class="slider" style="height:640px;">
    <ul class="slides" style="height:640px;">
      <li>
        <img src="static/learnModule/images/u136.png"> <!-- random image -->
      </li>
      <li>
        <img src="static/learnModule/images/u146.png"> <!-- random image -->
      </li>
      <li>
        <img src="static/learnModule/images/u144.png"> <!-- random image -->
      </li>
      <li>
        <img src="static/learnModule/images/u142.png"> <!-- random image -->
      </li>
      <li>
        <img src="static/learnModule/images/u140.png"> <!-- random image -->
      </li>
      <li>
        <img src="static/learnModule/images/u138.png"> <!-- random image -->
      </li>
    </ul>
  </div>

   <div class="card hide">
    <div class="carousel carousel-slider" style="height:400px;">

        <div class="carousel-item" >
           <div><img src="../static/learnModule/images/u6.PNG"  height="285px" >
            <div style="width:100%;margin:10px">We worked directly with communities in the Pan-Ameriacan region to learn about
    their experiences on Free, Prior and Imformed consent.</div>
               </div>
        </div>

          <div class="carousel-item" >
          <div> <img src="../static/learnModule/images/u28.PNG"  height="285px">
            <div style="width:100%;margin:10px">We collect information about Free,Prior and Informed Consent from across the internet and catalogs them for you to find it. </div>

         </div>
          </div>


          <div class="carousel-item" >
          <div> <img src="../static/learnModule/images/u17.PNG"  height="285px">
          <div style="width:100%;margin:10px">Don't know where to start or what to look for? A multisciplinary and intercultural team has organized content for you to learn and test your knowledge about specific topics.</div>
            </div>
          </div>

         </div>

</div>


</div>
</div>
 {% endblock %}
